<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/join.css}">
</head>
<body>
    <h1>Welcome to Registering page</h1>
    <div class="join">
        <div class="join-con">
            <div class="join-form">
                <form th:action="@{/member/join}" th:object="${memberDto}" method="post">
                    <ul>
                        <li class="s1">Sign up</li>
                        <li class="s2">
                            <label th:for="email">email</label>
                            <input type="text" th:field="*{email}">
                        </li>
                        <li class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">이메일 오류</li>
                        <li class="s2">
                            <label th:for="password">password</label>
                            <input type="password" th:field="*{password}">
                        </li>
                        <li class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">비밀번호 오류</li>
                        <li class="s3">
                            <label th:for="gender">gender</label>
                            <input type="text" th:field="*{gender}">
                        </li>
                        <li class="s4">
                            <input type="submit" value="Register" class="s3sub">
                            <button type="button" class="s3sub"><a th:href="@{/index}">Home</a></button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
</html>