<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>This is a Login page</h1>
  <div class="login">
      <div class="login-con">
          <div class="login-form">
              <form th:action="@{/member/loginDo}" method="post">
                  <ul>
                      <li class="s1">Sign up</li>
                      <li class="s2">
                          <label for="email">email</label>
                          <input type="text" id="email" name="email">
                      </li>
                      <li class="s2">
                          <label for="password">password</label>
                          <input type="password" id="password" name="password">
                      </li>
                      <li class="s3">
                          <input type="submit" value="Login" class="s3sub">
                          <button type="button" class="s3sub"><a th:href="@{/member/join}">Join</a></button>
                          <button type="button" class="s3sub"><a th:href="@{/index}">Home</a></button>
                      </li>
                  </ul>
              </form>
          </div>
      </div>
  </div>
</body>
</html>