<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script src="https://ajax.googleapis.com/ajax/libs/cesiumjs/1.78/Build/Cesium/Cesium.js"></script>
     <script th:src="@{/js/memberDetail.js}" defer></script>
    <link rel="stylesheet" th:href="@{/css/member.css}">
</head>
<body>
<h1>This is a member page</h1>
<div class="membercontainer">
    <div class="memberlist">
        <div class="memberlist-con">
            <div class="top-con">
                <div class="top-menu">
                    <table>
                        <thead>
                        <tr>
                            <th sec:authorize="isAuthenticated">
                                <span sec:authentication="principal.username"></span>님
                                <span sec:authentication="principal.authorities"></span>
                            </th>
                        </tr>
                        <tr>
                            <th colspan="5">
                                <form th:action="@{/member/user/search}" method="get">
                                    <input type="text" name="search" id="search">
                                    <input type="submit" value="Search">
                                </form>
                            </th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="show-con">
                <div class="show">
                    <ul class="detailInfo" th:each="info : ${allMembers}">
                        <img id="userImage" th:src="@{/img/user.png}" alt="userImage">
                        No.
                        <li id="no" th:text="${info.id}" th:value="@{info.id}"></li>
                        EMAIL :
                        <li th:text="${info.email}"></li>
                        CreatedTime :
                        <li th:text="${info.createTime}"></li>
                        UpdatedTime :
                        <li th:text="${info.updateTime}"></li>
                        Role :
                        <li th:text="${info.role}"></li>

                        <div class="buttons">
                            <li>
                                <button type="button"><a th:href="@{/member/detail/{id}(id=${info.id})}">Info</a>
                                </button>
                            </li>
                            <li>
                                <button type="button" id="updateDetail"><a th:href="@{/member/updateP?id={id}(id=${info.id})}">Update</a>
                                </button>
                            </li>
                            <li>
                                <button type="button" class="s3sub"><a th:href="@{/index}">Home</a></button>
                            </li>
                        </div>

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Update Ajax Detail -->
<div class="update">
    <div class="update-con">
        <div class="update-form">
            <form th:action="@{/member/update}" th:each="m : ${member}"  method="post">
                <ul>
                    <li class="s1">Update Information</li>
<!--                    <input type="text" hidden="hidden" th:value="${info.id}" name="id">-->
                    <li class="s2">
                        <label for="email">email</label>
                        <input type="text"  id="email" name="email" th:value="@{m.email}">
                    </li>
                    <!--                        <li class="error" th:if="${${info.email}.hasErrors('email')}" th:errors="*{email}">이메일 오류</li>-->
                    <li class="s2">
                        <label for="password">password</label>
                        <input type="password" id="password" name="password" th:value="@{m.password}">
                    </li>
                    <!--                        <li class="error" th:if="${${info.password}.hasErrors('password')}" th:errors="*{password}">비밀번호 오류</li>-->
                    <li class="s3">
                        <label for="gender">gender</label>
                        <input type="text" id="gender" name="gender" th:value="@{m.gender}">
                    </li>
                    <li class="s4">
                        <input type="submit" value="Update" class="s3sub">
                        <button type="button" class="s3sub"><a th:href="@{/index}">Home</a></button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>

<!-- <tr>
    <th>No.</th>
    <th>EMAIL</th>
    <th>CreatedTime</th>
    <th>UpdatedTime</th>
    <th>Role</th>
    <th>Detail</th>
    <th>Update</th>
    <th>Home</th>
</tr>
</thead>
<tbody th:each="info : ${allMembers}">
<tr>
    <td th:text="${info.id}"></td>
    <td th:text="${info.email}"></td>
    <td th:text="${info.createTime}"></td>
    <td th:text="${info.updateTime}"></td>
    <td th:text="${info.role}"></td>
    <td><button type="button"><a th:href="@{/member/detail/{id}(id=${info.id})}">Info</a></button></td>
    <td><button type="button" ><a th:href="@{/member/updateP/{id}(id=${info.id})}">Update</a></button></td>
    <td th:unless="${#lists.isEmpty(allMembers)}"><button type="button" class="s3sub"><a th:href="@{/index}">Home</a></button></td>
</tr>
</tbody> -->
<!-- <br> <br> -->

<!--        <h4>Detail</h4>-->

<!--        <table>-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>Email</th>-->
<!--                <th>Password</th>-->
<!--                <th>Role</th>-->
<!--                <th>Delete</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody class="detailInfo">-->
<!--            <tr>-->


<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->


</body>
</html>