<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/update.css}">
</head>
<body>
    <h3>Update</h3>
    <div class="update">
        <div class="update-con">
            <div class="update-form">
                <form th:action="@{/member/update}" th:each="info : ${memberInfo}" method="post">
                    <ul>
                        <li class="s1">Update Information</li>
                        <li class="s2">
                            <label th:for="email">email</label>
                            <input type="text"  th:value="${info.email}" name="email" readonly>
                        </li>
<!--                        <li class="error" th:if="${${info.email}.hasErrors('email')}" th:errors="*{email}">이메일 오류</li>-->
                        <li class="s2">
                            <label th:for="password">password</label>
                            <input type="password" th:value="${info.password}" name="password">
                        </li>
<!--                        <li class="error" th:if="${${info.password}.hasErrors('password')}" th:errors="*{password}">비밀번호 오류</li>-->
                        <li class="s3">
                            <label th:for="gender">gender</label>
                            <input type="text" th:value="${info.gender}" name="gender">
                        </li>
                        <li class="s4">
                            <input type="submit" value="Update" class="s3sub">
                            <button type="button" class="s3sub"><a th:href="@{/index}">Home</a></button>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</body>
</html>